* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature {
  background-color: #fff; 
  padding: 40px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  transition: all 0.3s ease;
  font-family: 'Open Sans', sans-serif;
  /* max-width: 300px;  */
}

.feature:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.landing-page {
  background-image: none;
  background-color: #f9f9f9; 
  margin-top: 80px;
}

@media (max-width: 768px) {
  .features {
      grid-template-columns: 1fr; 
  }
}

header, footer {
  background-color: #333;
  color: #fff; 
  text-align: center;
  padding: 20px 0;
}

h2, p{
  font-family: 'Roboto', sans-serif;
}